@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--adres-blue)
}

:root {
    --adres-blue: #293556;
    --adres-light-blue: #4f68b1;
    --adres-green: #12d6af;
    --adres-light-green: #7ce2e5;
    --adres-gray: #f6f8fa;
}