<h1>{{(currentId ? "Modificar" : "Crear")+" una adquisición"}}</h1>
<form class='form' [formGroup]="acquisitionForm" (ngSubmit)="saveAcquisition()">
    <div class="input-zone" *ngFor="let field of fields">
        <label class="label" [for]="field.attr">{{field.label}}</label>
        <input class='input-field' [type]="field.type" [placeholder]="field.label" [formControlName]="field.attr">
    </div>
    <div class="button-zone">
        <button class="button cancel-button" (click)="cancel()">Cancelar</button>
        <button class="button save-button" type="submit" [disabled]="!acquisitionForm.valid">Guardar</button>
    </div>
</form>